name: Chilgun Exit Node Server

on:
  workflow_dispatch:

jobs:
  tailscale:
    runs-on: ubuntu-24.04
    # Free users have only 2,000 minutes GitHub Actions usage - Use them wisely.
    # We strongly recommended you to cancel the workflow after finishing your work.
    timeout-minutes: 2000

    steps:
      - name: Update APT
        run: sudo apt-get update

      - name: Prevent service auto-start during apt
        run: |
          echo -e '#!/bin/sh\nexit 101' | sudo tee /usr/sbin/policy-rc.d >/dev/null
          sudo chmod +x /usr/sbin/policy-rc.d

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Disable systemctl hooks
        run: bash .github/workflows/scripts/disable-systemctl.sh
        
      - name: Validate system users and tmpfiles
        run: bash .github/workflows/scripts/validate-tmpfiles.sh

      - name: Re-enable service start
        run: bash .github/workflows/scripts/reenable-services.sh

      - name: Install Tailscale
        run: curl -fsSL https://tailscale.com/install.sh | sh

      - name: Start tailscaled (manual)
        run: |
          sudo mkdir -p /var/run
          nohup sudo tailscaled >/tmp/tailscaled.log 2>&1 & disown
          sleep 3

      - name: Connect to Tailscale
        run: |
          sudo tailscale up --authkey=${{ secrets.5cf24736d854167856a3fe1abca13db9ff37789b59db73c8a0cf617063ab6c2f }} --hostname=gh-runner-${GITHUB_RUN_ID} --advertise-exit-node
          echo "TAILSCALE_IP=$(tailscale ip -4)" >> "$GITHUB_ENV"

      - name: Restore systemctl hooks
        run: bash .github/workflows/scripts/restore-systemctl.sh

      - name: Keep Connection Alive
        run: |
          while true; do
            echo "[$(date)] Exit Node Active - Cancel workflow to terminate"
            sleep 300
          done
